.poke-list {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  height: 100px;

  &__btn {
    width: 100px;
    height: 50px;
    background-color: #000025;
    color: white;
    border-radius: 10%;
    font-family: 'Maven Pro';
    border: 2px solid white;
  } 
}