.poke-list {
  display: flex;
  flex-wrap: wrap;
  background: #E0E0E0;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 670px); // 100% da viewport - 670px height pokelist
  padding-top: 20px;
  background: #E0E0E0;

  &__btn {
    width: 100px;
    height: 50px;
    background-color: #000025;
    color: white;
    border-radius: 10%;
    font-family: 'Maven Pro';
    border: 2px solid white;
  } 
}

@media only screen and (min-width: 600px) {
  .container {
    height: calc(100vh - 560px);
  }
} 