.poke-card {
  width: 140px;
  height: 110px;
  border-radius: 10px;
  margin: 20px;

  &__bg-img {
    background-image: url('/assets/img/pokeball.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    width: inherit;
    height: inherit;
  }

  &__header {
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 12px;
  }

  &__img {
    display: flex;
    justify-content: center;

    > img {
      width: 60px;
      height: 60px;
    }
  }
}

.grow {
  transition: 1s ease;
}
  
.grow:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.grow:active {
  background-color: #8c8c8c !important;
  background-size: 100% !important;
  transition: background 0s;
  opacity: 0.9;
}
  