.poke-card {
  width: 320px;
  height: 294px;
  //background: #70A83B;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__bg-img {
    background-image: url('/assets/img/pokeball.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: inherit;
    height: inherit;
  }

  &__header {
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 20px;
  }

  &__img {
    display: flex;
    justify-content: center;
  }
}

.grow {
  transition: 1s ease;
}
  
.grow:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.grow:active {
  background-color: #8c8c8c !important;
  background-size: 100% !important;
  transition: background 0s;
  opacity: 0.9;
}
  