.pokemon-details {
  width: 100%;
  height: calc(100vh - -12px);
  display: flex;
  justify-content: center;
  background: #000025;

  &__container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    width: inherit;
    align-items: center;
    height: 100px;
    color: white;
  }

  &__bg-img {
    background-image: url('/assets/img/pokeball.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 97%;
    height: 270px;
  }

  &__img {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 17%;

    > img {
      width: 170px;
      height: 170px;
    }
  }

  &__stats {
    background: white;
    border-radius: 4%;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    &__badge {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }

    &__about {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;

      &__infos {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 15px;
      }

      &_bar {
        width: 2px;
        height: 76px;
        background: #E0E0E0;
      }
    }
  }
}

@media only screen and (max-width: 360px) and (min-height: 760px) {
  .pokemon-details__img {
    top: 12%;
  }
}

@media only screen and (min-width: 600px) and (min-height: 800px) {
  .pokemon-details {
    height: 100vh;
  }

  .pokemon-details__bg-img {
    height: 430px;
  }

  .pokemon-details__stats {
    height: inherit;
  }

  .pokemon-details__img {
    width: 605px;
    height: 230px;
    top: 12%;
  }

  .pokemon-details__img > img {
    width: 170px;
    height: 170px;
  }

  .pokemon-details__container {
    border-radius: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-height: 799px) {
  .pokemon-details {
    height: 100vh;
  }

  .pokemon-details__bg-img {
    height: 430px;
  }

  .pokemon-details__stats {
    height: inherit;
  }

  .pokemon-details__img {
    width: 605px;
    height: 180px;
    top: 12%;
  }

  .pokemon-details__img > img {
    width: 200px;
    height: 200px;
  }

  .pokemon-details__container {
    border-radius: 10px;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;

  &__title {
    font-size: 10px;
  }
}

.general {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 100%;
  justify-content: space-evenly;
}