/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0px;
  font-family: 'Maven Pro';
  min-height: 100vh;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #23295b radial-gradient(circle, transparent 1%, #393279 1%) center/15000%;
}
.ripple:active {
  background-color: #23295b;
  background-size: 100%;
  transition: background 0s;
}

.loading {
  background-color: #0000255e;
  width: 100%;
}
